@font-face {
  font-family: 'Merriweather Bold';
  src: url('/fonts/merriweather-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Bold Italic';
  src: url('/fonts/merriweather-bolditalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Italic';
  src: url('/fonts/merriweather-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
        font-family: et-book;
        src: url(/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot);
        src: url(/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix) format("embedded-opentype"), url(/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff) format("woff"), url(/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf) format("truetype"), url(/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf) format("svg");
        font-weight: 400;
        font-style: normal;
        font-display: swap
}

@font-face {
        font-family: et-book;
        src: url(/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot);
        src: url(/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix) format("embedded-opentype"), url(/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff) format("woff"), url(/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf) format("truetype"), url(/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf) format("svg");
        font-weight: 400;
        font-style: italic;
        font-display: swap
}

@font-face {
        font-family: et-book;
        src: url(/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot);
        src: url(/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix) format("embedded-opentype"), url(/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff) format("woff"), url(/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf) format("truetype"), url(/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf) format("svg");
        font-weight: 700;
        font-style: normal;
        font-display: swap
}

@font-face {
        font-family: et-book-roman-old-style;
        src: url(/fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot);
        src: url(/fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix) format("embedded-opentype"), url(/fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff) format("woff"), url(/fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf) format("truetype"), url(/fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf) format("svg");
        font-weight: 400;
        font-style: normal;
        font-display: swap
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

