<a href="{{ siteConfig.feed.full.path }}">
    <span class="name">RSS</span>
</a>, <a href="{{ siteConfig.json.full.path }}">
        <span class="name">JSON</span>
      </a>, <a href="{{ siteConfig.twtxt.path }}">
        <span class="name">twtxt.txt</span>
      </a>