<div class="subscribe"><a href=""></a><p><a href="{{ siteConfig.feed.full.path }}">RSS</a>, <a href="{{ siteConfig.json.full.path }}">JSON</a>, <a href="{{ siteConfig.twtxt.path }}">twtxt.txt
</a></p></div>