
a:link, a:visited, a:active { 
	border: 1px solid #ffffff; 
	padding: 1px;
}
a:hover   { 
	border: 1px solid #ffffff; 
	border-left: 1px solid #336699; /*#990033;*/
	border-right: 1px solid #336699; /*#990033;*/

}

