body {
  font-family : verdana, arial, helvetica, sans-serif;
  color : black;
  background-color : #ffffff;
}

.ahem, a.dhtmlaunch:link, a.dhtmlaunch:visited, a.dhtmlaunch:active, a.dhtmlaunch:hover, a.dhtmlaunch2:link, a.dhtmlaunch2:visited, a.dhtmlaunch2:active, a.dhtmlaunch2:hover {
 display : none;
}

div.brokeass {
  color : red;
}

hr {
  margin-left : auto;
  margin-right : auto;
  text-align : center;
  }

a.copyright:link {
  color : #aaaaaa;
  cursor : default;
}
a.copyright:visited {
  color : #aaaaaa;
  cursor : default;
}
a.copyright:active {
  color : #aaaaaa;
  cursor : default;
}
a.copyright:hover {
  color : #aaaaaa;
  cursor : default;
  border : none;
}

.navpadding {
  line-height : 16px; }

select{
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 11px;
  color : white;
  z-index : 4;
}

#themedrop {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 11px;
  color : white;
  z-index : 4;
  position : absolute;
  left : 85px;
  top : 35px;
  z-index : 4;
  }
.logo {
  display : none;
  height : 22px;
  width : 81px;
  position : absolute;
  left : 10px;
  top : 10px;
  border : 0;
}

div#navigation {
  background-color : #ffffff;
  color : #00bff3;
  padding : 0;
  margin : 0;
  position : absolute;
  top : 33px;
  left : 10px;
  text-align : right;
}

div#main {
  background-color : #fff;
  border-left : 2px dashed #888888;
  border-right : none;
  border-bottom : none;
  border-top : none;
  color : #000000;
  position : absolute;
  padding : 10px;
  margin : 0;
  top : 52px;
  left : 130px;
  text-align : justify;
  z-index : 2;
}

div#pagetitle {
	font-family : Chicago, Geneva, System;
	font-size : 20px;
	font-weight : 100;
	line-height : 20px;
	background-color : #fff;
	color : black;
	border-top: none;
	border-right : none;
	border-left : none;
	border-bottom : none;
	padding : 0px;
	width : 100px;
	height : 25px;
	position : absolute;
	top :10px;
	left : 82px;
	overflow : hidden;
	z-index : 5;
	text-align : center;
}

#spybox{
  width : 80%;
  border : 0 0 0 0;
  outline : none;
  color : white;
  background-color : #ffffff;
  text-align : center;
  position : relative;
  margin-left : auto;
  margin-right : auto;
}


img.scaled {
  width : 100px;
  border : 0;
  display : inline;
  margin : 6px;
}

.broke {
  color : red;
  font-size : 11px;
  background-color : white;
  font-family : verdana, geneva, arial, helvetica, sans-serif;
  border-top : 1px dotted black;
  border-bottom : 1px dotted black;
}
a.amplink:link {
  color : inherit;
  background-color : inherit;
  outline : 0;
  border : none;
  }

a.amplink:visited {
color : inherit;
  background-color : inherit;
  outline : 0;
  border : none;
  }

a.amplink:active {
  color : inherit;
  background-color : inherit;
  outline : 0;
  border : none;
  }

a.amplink:hover {
  color : inherit;
  background-color : inherit;
  outline : 0;
  border : none;
  }

a:link {
  color : #0089bf;
  font-size : 11px;
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-decoration : none;
  background-color : white;
}

a:visited {
  color : #0089bf;
  text-decoration : none;
  background-color : white;
}

a:active {
  color : #222222;
  background-color : white;
  text-decoration : none;
}

a:hover {
  color : #0089bf;
  text-decoration : none;
  border-top : none;
  border-right : none;
  border-left : none;
  border-bottom : 2px dotted black;
  background-color : #fff;
  font-size : 11px;
}

a.imgLink:hover {
  color : #fff;
  border : none;
  }
pre {
  font-family : "Lucida Console", "Letter Gothic MT", "Courier New", Courier, monospace;
  font-size : 20px;
  color : black;
  background-color : #ffffff;
	padding : 2%;
	text-align : center;
}

.tinypre {
  font-family : "Lucida Console", "Letter Gothin MT", "Courier New", Courier, monospace;
  font-size : 1px;
  color : black;
  }

p , td, li, ul {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 11px;
  line-height : 24px;
}

td { border : 1px solid #aaaaaa; }

option {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 11px;
  color : white;
  }

optgroup {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 11px;
  font-weight : bold;
  color : white;
  }
h1 {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 12px;
  font-weight : bold;
  color : black;
  margin : 3px;
  line-height : normal;
}

h4 {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 14px;
}

strong {

  color : #006699;
  background-color : #fffffa;

}

a.nav:link {
	color : #0089bf;
	text-decoration : none;
	background-color : #fff;
	font-size : 11px;

}
a.nav:visited {
	color : #0089bf;
	text-decoration : none;
	background-color : #fff;
	font-size : 11px;
}
a.nav:active {
  color : #0089bf;
  text-decoration : none;
  background-color : #fff;
  font-size : 11px;
}
a.nav:hover {
  color : #0089bf;
  text-decoration : none;
  border-top : none;
  border-right : none;
  border-left : none;
  border-bottom : 2px dotted black;
  background-color : #fff;
  font-size : 11px;


}
a.themeanch:link {
	color : #000000;
	text-decoration : none;
	background-color : #eeeeee;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	margin-right : 6px;
	line-height : normal;
}
a.themeanch:visited {
	color : #000000;
	text-decoration : none;
	background-color : #0066cc;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	margin-right : 6px;
	line-height : normal;
}
a.themeanch:active {
  color : #000000;
  text-decoration : none;
  background-color : #0066cc;
  margin-right : 6px;
}
a.themeanch:hover {
  color : #ff0000;
  text-decoration : none;
  vertical-align : bottom;
  background-color : #0066cc;
  margin-right : 6px;
}

.links_page {
  line-height : 15px;
  height : 400;
  overflow : scroll;
}
