body, h1 {
  font-family : verdana, arial, helvetica, sans-serif;
  color : black;
  background-color : #333333;
  margin : 0;
  padding : 0;
}

.ahem, a.dhtmlaunch:link, a.dhtmlaunch:visited, a.dhtmlaunch:active, a.dhtmlaunch:hover, a.dhtmlaunch2:link, a.dhtmlaunch2:visited, a.dhtmlaunch2:active, a.dhtmlaunch2:hover {
 display : none;
}

div#main {
  background-color : #fff;
  color : #000000;
  width : 80%;
  position : relative;
  padding : 10px;
  margin-left : auto;
  margin-right : auto;
  top : 10px;
  left 5% ;
  text-align : justify;
  z-index : 2;
  margin-bottom : 20px;
  border : 2px solid darkgray;
  text-align : center;
}

a:link {
  color : #0089bf;
  font-size : 11px;
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a:visited {
  color : #0089bf;
  font-size: 11px;
}

a:active {
  color : #222222;
  font-size: 11px;
}

a:hover {
  color : #0089bf;
  text-decoration : none;
  border-top : none;
  border-right : none;
  border-left : none;
  border-bottom : 2px dotted black;
  font-size : 11px;
}

p , td, li, ul {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size : 11px;
  line-height : 18px;
  text-align : justify;
}

td { padding : 5px;
      border-top : none;
      border-bottom : 1px dotted #000;
      border-left : 1px dotted #000;;
      border-right : none;
      text-align : left;}

.date { color : #000066; background-color : #fff; font-weight : bold; }

.company_name {
	color : #000099;
	background-color : #fff;
	font-weight : inherit;
	font-variant : small-caps;
}

strong {
  color : #000;
  background-color : #fff;
  font-size : 14px;
}


