body    {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	color: black;
	background-color: #E7FAFF;
}
p.first:first-letter {font-size: 200%; float: left}

div:first-child p
{
text-indent:25px
}

.copytext:first-letter
{
color: #000000;
font-size:xx-large
}

p.copytext: {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height : 18px;
	text-indent: 5px;
	}

a:link
{
	color: #000000;
	text-decoration: none;
	}

a:visited
{
	color: Gray;
	text-decoration: none
}

a:active
{
	color: Red;
	text-decoration: none
}

a:hover
{
	color: Navy;
	text-decoration: none
}
.ahem {
	display: none;
	}

#topbar{
	background: #00319C;
	width : 100%;
	height: 6%;
	padding: 2%;
	text-align: center;
}

#nav {
	background : transparent;
	border : none;
	color : blue;
	width : 20%;
	padding: 2% 2% 2% 2%;
	position : relative;
	float : left;
	left : 5%;
	top: 20px;
	z-index: 3;
}
#content{
	background : #FFFFFA;
	border : thin dashed Black;
	color : #000000;
	width : 84%;
	position : relative;
	float : left;
	top: 20px;
	z-index: 1;
	text-align: justify;
	margin-left : 2%;
	margin-right : 2%;
	margin-top : 2%;
	margin-bottom : 2%;
	padding-left : 2%;
	padding-right : 2%;
	padding-top : 2%;
	padding-bottom : 2%;
}

h1{
	font-family : "Times New Roman", Times, serif;
	font-size : 18px;
	line-height: normal;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bolder;
}
h2{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height: normal;
	text-align: center;
	font-variant : small-caps;
	letter-spacing : 3px;
	font-weight: normal;
	font-style : italic;
}
ul, li, p, td, h3{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	line-height : 18px;
	text-indent: 5px;
}

pre
{
	font-family: "Lucida Sans", "Courier New", Courier, monospace;
	font-size: 11px;
}

 .navigation{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	line-height : normal;
	text-indent: none;
	font-style : normal;
	font-weight: normal;
	background : #00319C;
	color: White;
	border : thin dotted Black;
}
.title{
color: white;
	font-family : "Times New Roman", Times, serif;
	font-size : 25px;
	font-style : italic;
	font-weight : bolder;
	letter-spacing : 2px;
	text-indent: 10px;  }
.author{
font-family : "Times New Roman", Times, serif;
	font-style: normal;
	font-size : 18px;
	font-variant : normal;
	letter-spacing : normal;
	font-weight : normal;
	color: white;
}
.subtext{
	font-family : "Times New Roman", Times, serif;
	font-size: 12px;
	letter-spacing: normal;
	color: white;
	display : none;
}
a.ChapNav:link{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: Black;
	text-align: left;
	z-index: 3'
 }
 