P
{ font-family: Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: #7F7F7F; 
font-size: 1em; 
text-align: justify;  
font-weight: lighter;
line-height: 100%;
}

H1
{ font-family: Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: #7F7F7F; 
font-size: 1em;  
text-align: center;  
font-weight: lighter;
line-height: 100%;
background: tile.gif }


.caps 
{ color: red;   
font-variant: small-caps ;
font-size: 1em;
background: tile.gif }

.poster
{ font-family:  Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif;
font-weight: lighter;
font-size: .8EM;
color: #00A53A;
background: none }


.blue
{color: blue;
background:  #797979}

.yellow
{color: #E0B700;
background:  #797979 }

.black
{color: white;
background: #797979 }


