P 
{ font-family:  ,Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: black; 
font-size: 10pt; 
background-color: white; 
text-align: center;  
font-weight: lighter;
overflow: auto;
line-height: 100% }

