h1
{ 
font-family:  Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif;
color: black; 
font-size: 10pt; 
text-align: justify; 
font-weight: lighter; 
padding: 0px; 
border: 1pt; 
border-style: solid; 
border-color: #808080;  
width: 300px;
}

.table
{ 
font-family: Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: black; 
font-size: 10pt;  
font-weight: lighter;
}

.title 
{ text-align: center }

P
{ 
font-family:  Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: black; 
font-size: 10pt; 
text-align: justify; 
font-weight: lighter; 
padding: 0px; 
border: 1pt; 
border-style: solid; 
border-color: #808080;  
width: 300px;
}

.tiny
{ 
font-family:  Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: black; 
font-size: 8pt; 
}

H2
{ 
font-family:  Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: white; 
font-size: 20pt; 
background: black;
width: 300px;
text-align: center
}

.blue
{color: blue
}

.red
{color: red
}

.green
{color: lightgreen
}

.ltblue
{color: #5ACBFF
}

.yellow
{color: #FFFF45 }

.purple
{color: E32AFF;
}

.gray
{ 
font-family:  Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: black; 
font-size: 10pt; 
text-align: center; 
font-weight: lighter; 
padding: 0px; 
border: 1pt; 
border-style: solid; 
border-color: black;  
width: 280px;
background: #797979
}