.netscape
{ z-index: 2; 
font-family: Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: #7F7F7F; 
font-size: 14pt; 
background-color: white; 
text-align: left;  
padding: 4px; 
border: 1px; 
width: 400px;
border-style: solid; 
border-color: black; 
font-weight: lighter;
overflow: auto;
line-height: 100% }

P
{ z-index: 2; 
font-family: Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
color: #7F7F7F; 
font-size: 10pt; 
background-color: white; 
text-align: left;  
padding: 4px; 
border: 1px; 
width: 400px;
border-style: solid; 
border-color: black; 
font-weight: lighter;
overflow: auto;
line-height: 100% }

.caps 
{ color: red;  
}

.poster
{ font-family:  Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif;
font-weight: lighter
z-index: 2 }

.head 
{ z-index: 2; 
position: absolute; 
visibility: hidden;
font-family:  Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
font-variant: small-caps; 
font-weight: lighter; 
top: 0px ;
left: 0px ;
width: 150px;
background-color: #D5D5D5; 
color: white; 
font-size: 8pt; 
text-align: center; 
border: 1px; 
border-style: solid; 
border-color: black;
text-transform: uppercase ;
display: block }

.game
{ z-index: 2; 
position: absolute; 
top: 277px; 
left: 400px; 
width: 150px; 
height: 15px; 
font-family:  Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; 
font-variant: small-caps; 
font-weight: lighter; 
color: white; 
font-size: 8pt ; 
background-color: #D5D5D5; 
text-align: center; 
border: 1px; 
border-style: solid; 
border-color: black ;
visibility: hidden;
}

.top 
{ position: absolute; 
visibility: hidden;
top: 0px; 
left: 0px; 
background-color: white; 
z-index: 1 }

.wp 
{ z-index: 1  }

.scrubb1 
{ position: absolute; 
top: 298px; 
left: 397px; 
visibility: hidden;
z-index: 1 }

.scrubb2 
{ position: absolute; 
visibility: hidden;
top: 300px; 
left: 474px; 
z-index: 1  }

.side
{ position: absolute; 
top: 22px; 
visibility: hidden;
left: 553px; 
z-index: 1 }

.right
{ position: absolute;
visibility: hidden;
top: 22;
left: 100;
z-index: 1 }

.shyte
a.alt:link {
  color: #FFCC00;
  text-decoration: none;
}

a.alt:visited {
   color: #CCCCCC;
   text-decoration: none;
}

a.alt:active {
	color: #990033;
	text-decoration: italics;
}

a.alt:hover {
	color: #990033;
	text-decoration: italics;
}


