body {
  background-color : #000; 
  color : #fff;
  font-family : verdana, helvetica, sans-serif;
  font-size : 11px;
  }
  
#bb {
  position : absolute;
  left : 2%;
  top : 0px;
  padding:0px;
  z-index : 2;
  width : 95%;
}
  
#banner {
  display : none;
  width : 0px;
  height : 0px;
  }
#nav {
  display : none;
  width : 0px;
  height : 0px;
  }
#navtext {
  display : none;
  width : 0px;
  height : 0px;
  }
,navbar {
  display : none;
  width : 0px;
  height : 0px;
  }
.sideback  {
  display : none;
  width : 0px;
  height : 0px;
  }
  
  
p, i, em, b, strong, .obbWindow, .obbTitle, .obbWindow, .obbTitle, .obbCategory, .obbPane, .obbMenu, .obbDetail, .obbPager, .obbNav, .obbNews, .obbNews EM, .obbIndexPane, .obbMessageAuthor, .obbMessage, .obbMessageHead, .obbMessageMenu, .obbMessageAuthor, .obbAltMessageAuthor, .obbAltMessage, .obbAltMessageHead, .obbAltMessageMenu {
  font : 11px verdana, helvetica, sans-serif;
  }
  
.obbWindow { background-color : #444; color : #fff; }
.obbTitle { background-color : #666; color : #00ffff; font-weight : bold; font-variant : small-caps; }
.obbCategory { font-variant: small-caps ; font-weight : bold; color : #ffff00; background-color : #333;}
.obbPane, .obbMenu, { background-color : #444; color : #fff; }  
.obbDetail { background-color : #000; color : #ffff00; }
.obbNav { background-color : #000; color : #fff; }
.obbNews { background-color : #000; color : #fff; }

a:link { text-decoration : none;border: 1px dotted #444; background-color : transparent; color : #fff; }
a:visited { text-decoration : none; border: 1px solid #444; background-color : transparent; color : #fff; }
a:hover { text-decoration : none;border: 1px dotted #000;  background-color : #e3e300; color : #000; }
a:active { text-decoration : none; border : 1px solid #e3e300;background-color : #fff; color : #000; }
