<html><head><title> NewsPro Archive </title></head><body>
<!--INSTRUCTIONS
This is the NewsPro archive link file template. This will be used to generate a
page that links to your monthly archive files.
It should be a basic HTML page, except you may insert the following special commands anywhere
in this file:

<Insert*Content> Inserts links to your monthly archive files.

IMPORTANT: The * in the example above was inserted so that the example wouldn't be confused by
the script with the actual command. Remove the asterisks from the example when using
those commands.

END INSTRUCTIONS-->
<h1>News Archive</h1>
<InsertContent>

</body></html>