<HTML>
<HEAD>
<TITLE>b:news archive</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<LINK rel="STYLESHEET" type="text/css" href="explorer.css">
<style type="text/css">
<!--
a:link    
{ color:#000000;
text-decoration: underline
}

a:visited 
{ color:#000000;
text-decoration: underline
}

a:active  
{ color:#000000
 }

a:hover  
{ color:#FFFFFF;
background:#EE9C00;
text-decoration: underline
}
//-->
</STYLE>
<SCRIPT LANGUAGE="JavaScript">
<!-- ImageReady Preload Script (red.psd) -->

<!-- ImageReady Preload Script (red.psd) -->
<!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}

function changeImages() {
	if (document.images && (preloadFlag == true)) {
		for (var i=0; i<changeImages.arguments.length; i+=2) {
			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
		}
	}
}

var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		index_02_index_23_over = newImage("images/index_02-index_23_over.gif");
		index_03_over = newImage("images/index_03-over.gif");
		index_05_over = newImage("images/index_05-over.gif");
		index_07_over = newImage("images/index_07-over.gif");
		index_09_over = newImage("images/index_09-over.gif");
		index_11_over = newImage("images/index_11-over.gif");
		index_13_over = newImage("images/index_13-over.gif");
		index_16_index_03_over = newImage("images/index_16-index_03_over.gif");
		index_23_over = newImage("images/index_23-over.gif");
		index_25_over = newImage("images/index_25-over.gif");
		index_27_over = newImage("images/index_27-over.gif");
		index_29_over = newImage("images/index_29-over.gif");
		preloadFlag = true;
	}
}

// -->
</SCRIPT>
<!-- End Preload Script -->
</HEAD>
<BODY BGCOLOR=#FFFFFF ONLOAD="preloadImages();" topmargin="0" marginheight="0" leftmargin="0" marginwidth="0">
<table width=100% cellpadding=0 cellspacing=0><tr><td><center>
<!-- ImageReady Slices (red.psd) -->
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=7 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=28 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=8 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=9 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=25 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=9 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=36 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=8 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=16 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=9 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=21 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=19 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=8 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=30 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=9 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=58 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=8 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=42 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=217 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=18 HEIGHT=1></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=12 HEIGHT=1></TD>
		<TD></TD>
	</TR>
	<TR>
		<TD COLSPAN=21>
			<IMG SRC="../images/index_01.gif" WIDTH=597 HEIGHT=3></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=1 HEIGHT=3></TD>
	</TR>
	<TR>
		<TD ROWSPAN=4>
			<IMG NAME="index_02" SRC="../images/index_02.gif" WIDTH=7 HEIGHT=34></TD>
		<TD COLSPAN=2>
			<A HREF="index.shtml"
			   ONMOUSEOVER="changeImages('index_03', 'images/index_03-over.gif', 'index_16', 'images/index_16-index_03_over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_03', 'images/index_03.gif', 'index_16', 'images/index_16.gif'); return true;" Target="_top">
				<IMG NAME="index_03" SRC="../images/index_03.gif" WIDTH=36 HEIGHT=13 BORDER=0 ALT="b:news"></a></TD>
		<TD ROWSPAN=3>
			<IMG SRC="../images/index_04.gif" WIDTH=9 HEIGHT=20></TD>
		<TD COLSPAN=5 ROWSPAN=2>
			<A HREF="yabb/cgi-bin/YaBB.pl"
			   ONMOUSEOVER="changeImages('index_05', 'images/index_05-over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_05', 'images/index_05.gif'); return true;" Target="_top">
				<IMG NAME="index_05" SRC="../images/index_05.gif" WIDTH=94 HEIGHT=14 BORDER=0 alt="b:messageboard"></A></TD>
		<TD ROWSPAN=3>
			<IMG SRC="../images/index_06.gif" WIDTH=9 HEIGHT=20></TD>
		<TD COLSPAN=2>
			<A HREF="roster.html"
			   ONMOUSEOVER="changeImages('index_07', 'images/index_07-over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_07', 'images/index_07.gif'); return true;" Target="_top">
				<IMG NAME="index_07" SRC="../images/index_07.gif" WIDTH=40 HEIGHT=13 BORDER=0 ALT="b:roster"></A></TD>
		<TD ROWSPAN=4>
			<IMG SRC="../images/index_08.gif" WIDTH=8 HEIGHT=34></TD>
		<TD>
			<A HREF="files.html"
			   ONMOUSEOVER="changeImages('index_09', 'images/index_09-over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_09', 'images/index_09.gif'); return true;" Target="_top">
				<IMG NAME="index_09" SRC="../images/index_09.gif" WIDTH=30 HEIGHT=13 BORDER=0 ALT="b:files"></A></TD>
		<TD ROWSPAN=4>
			<IMG SRC="../images/index_10.gif" WIDTH=9 HEIGHT=34></TD>
		<TD>
			<A HREF="matches.html"
			   ONMOUSEOVER="changeImages('index_11', 'images/index_11-over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_11', 'images/index_11.gif'); return true;" Target="_top">
				<IMG NAME="index_11" SRC="../images/index_11.gif" WIDTH=58 HEIGHT=13 BORDER=0 ALT="b:matches"></A></TD>
		<TD ROWSPAN=4>
			<IMG SRC="../images/index_12.gif" WIDTH=8 HEIGHT=34></TD>
		<TD>
			<A HREF="extras.html"
			   ONMOUSEOVER="changeImages('index_13', 'images/index_13-over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_13', 'images/index_13.gif'); return true;" Target="_top">
				<IMG NAME="index_13" SRC="../images/index_13.gif" WIDTH=42 HEIGHT=13 BORDER=0 ALT="b:extras"></A></TD>
		<TD ROWSPAN=4>
			<IMG SRC="../images/index_14.gif" WIDTH=217 HEIGHT=34></TD>
		<TD ROWSPAN=4>
			<A HREF="index.html"
			   ONMOUSEOVER="changeImages('index_16', 'images/index_16-index_03_over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_16', 'images/index_16.gif'); return true;" Target="_top">
				<IMG SRC="../images/index_15.gif" WIDTH=18 HEIGHT=34 BORDER=0 ALT="b:beginning"></A></TD>
		<TD ROWSPAN=4>
			<IMG NAME="index_16" SRC="../images/index_16.gif" WIDTH=12 HEIGHT=34></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=1 HEIGHT=13></TD>
	</TR>
	<TR>
		<TD COLSPAN=2 ROWSPAN=2>
			<IMG SRC="../images/index_17.gif" WIDTH=36 HEIGHT=7></TD>
		<TD COLSPAN=2 ROWSPAN=2>
			<IMG SRC="../images/index_18.gif" WIDTH=40 HEIGHT=7></TD>
		<TD ROWSPAN=3>
			<IMG SRC="../images/index_19.gif" WIDTH=30 HEIGHT=21></TD>
		<TD ROWSPAN=3>
			<IMG SRC="../images/index_20.gif" WIDTH=58 HEIGHT=21></TD>
		<TD ROWSPAN=3>
			<IMG SRC="../images/index_21.gif" WIDTH=42 HEIGHT=21></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=1 HEIGHT=1></TD>
	</TR>
	<TR>
		<TD COLSPAN=5>
			<IMG SRC="../images/index_22.gif" WIDTH=94 HEIGHT=6></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=1 HEIGHT=6></TD>
	</TR>
	<TR>
		<TD>
			<A HREF="info.html"
			   ONMOUSEOVER="changeImages('index_02', 'images/index_02-index_23_over.gif', 'index_23', 'images/index_23-over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_02', 'images/index_02.gif', 'index_23', 'images/index_23.gif'); return true;" Target="_top">
				<IMG NAME="index_23" SRC="../images/index_23.gif" WIDTH=28 HEIGHT=14 BORDER=0 ALT="b:info"></A></TD>
		<TD>
			<IMG SRC="../images/index_24.gif" WIDTH=8 HEIGHT=14></TD>
		<TD COLSPAN=2>
			<A HREF="links.html"
			   ONMOUSEOVER="changeImages('index_25', 'images/index_25-over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_25', 'images/index_25.gif'); return true;" Target="_top">
				<IMG NAME="index_25" SRC="../images/index_25.gif" WIDTH=34 HEIGHT=14 BORDER=0 ALT="b:links"></A></TD>
		<TD>
			<IMG SRC="../images/index_26.gif" WIDTH=9 HEIGHT=14></TD>
		<TD>
			<A HREF="rants.html"
			   ONMOUSEOVER="changeImages('index_27', 'images/index_27-over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_27', 'images/index_27.gif'); return true;" Target="_top">
				<IMG NAME="index_27" SRC="../images/index_27.gif" WIDTH=36 HEIGHT=14 BORDER=0 ALT="b:rants"></A></TD>
		<TD>
			<IMG SRC="../images/index_28.gif" WIDTH=8 HEIGHT=14></TD>
		<TD COLSPAN=3>
			<A HREF="history.html"
			   ONMOUSEOVER="changeImages('index_29', 'images/index_29-over.gif'); return true;"
			   ONMOUSEOUT="changeImages('index_29', 'images/index_29.gif'); return true;" Target="_top">
				<IMG NAME="index_29" SRC="../images/index_29.gif" WIDTH=46 HEIGHT=14 BORDER=0 ALT="b:history"></A></TD>
		<TD>
			<IMG SRC="../images/index_30.gif" WIDTH=19 HEIGHT=14></TD>
		<TD>
			<IMG SRC="../images/spacer.gif" WIDTH=1 HEIGHT=14></TD>
	</TR>
</TABLE>
<!-- End ImageReady Slices -->
</center></td></tr></table>
</BODY>
</HTML>



<strong><InsertTitle></strong>
<br><br>
<InsertContent>

</body></html>