.logotype, a.logotype:link, a.logotype:visited, a.logotype:active {
font-family: 'Hoefler Text', 'Times New Roman', 'Times New Roman', Times, serif !important;
font-weight: normal !imporant;
}

#logotype {
margin-top: 80px;
width: 100%;
text-align: center;
}
#globeLogo, #front_search_bar{
width: 100%;
text-align: center;
}
#frontsearchInput {
width: 390px;
}
.smallcaps {
font-variant: small-caps !important;
font-size: 70%;
color: #0892D0 !important;
}
#column-content {
margin: 0px !important;
}

#mp-newhead {
margin-top: 10px;
margin-bottom: 0.1em;
line-height: 2.0em;
}
#mp-banner, #filetoc, #No_article_title_matches, #msg-noexactmatch, .centralauth-login-box, .generated-sidebar, #mp-strapline, .mbox-image, #footer, #p-cactions, #siteSub, #p-search, #p-search h5, #p-navigation, #p-logo, #p-interaction, #p-tb, #p-lang, #f-list, #f-poweredbyico, #f-copyrightico, #mw_header, #siteNotice {
display: none !important;
}
#mp-topbanner, #mp-topbanner table, #mp-topbanner tr, #mp-topbanner td, #mp-topbanner th, #mp-topbanner tbody {
background-color: #fff !important;
}

#frontsearchbar {
z-index: 10000;
height: 100%;
background-color: none;
color: black;
}
#p-search { 
display: block !important;
position: absolute;
top: 0px;
left: 50px;
visibility: visible;
z-index: 1000;
background-color: none;
height: 500px;
color: #333;
}
h1 {
font-family:  font-family: HelveticaNeue-Bold, Helvetica !important;
font-size: 250%;
}

h2 {
font-family:  font-family: HelveticaNeue-Bold, Helvetica !important;
font-size: 200% !important;
color: #333 !important;
font-weight: bold !important;
border: none !important;
background-image: none !important;
-webkit-background-clip: none !important;
-webkit-background-origin: none !important;
}

h3 {
font-family:  font-family: HelveticaNeue-Bold, Helvetica !important;
font-size: 140%;
color: #333 !important;
font-weight: bold !important;
}

li, p, ul, blockquote {
padding: 5px !important;
color: #333 !important;
background-color: none;
}
.noprint {
display: none !important;
}
.relarticle, .mainarticle, ol, ul, li {
color: #333 !important;
background-color: none !important;
}
ul, ul li {
list-style-image: none !important;
list-style-type: disc !important;
list-style-position: outside !important;
}

ol { 
list-style-type: decimal !important;
list-style-position: outside !important;
}

.toclevel-1, .toclevel-2, .toclevel-3, .toclevel-4 { 
list-style: none !important;
}
.topicon,#featured-star,  #protected-icon, #protected-icon div, #spoken-icon, #spoken-icon div {
display : none !important;
}
/*.topicon {
background-color: transparent !important;
float: left !important;
right: inherit !important; 
width: 15px !important;
height: 15px !important;
margin-left: 5px !important;
padding-left: 5px !important;
padding: 0px !important;
margin-top: 5px; !important;
}
/*#featured-star {
position: absolute !important;
left: 5px !important;
padding: 0px;
width: 15px !important;
height: 15px !important;
margin-top: 5px !important;
}
*/
.dablink {
padding-top: 0px !important;
padding-left: 10px !important;
}
.metadata {
display: none;
}

#floatingsearch{
z-index: 100;
border: none; 
}
#mp-upper, #mp-upper table, #mp-upper td, #mp-upper tr, #mp-upper th, #mp-upper tbody {
z-index: 0 !important;
margin-top: 100px;
background-color: #fff !important;
}

#mpheader {
z-index: 100 !important;
width: 500px !important;
height: 100px;
}

table, input {
	margin: 0px !important;
	padding: 3px !important;
	background-color: #f6f6f6 !important;
	color: #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #eaeaea !important;
	border-collapse: inherit !important;
}


.wikitable, .prettytable {
/* -moz-border-radius: 7px !important;
-webkit-border-radius: 7px !important;
border-radius: 7px !important;
border: 1px solid #ddd !important; 
background-color: #fff !important;
*/
        margin: 0px 0px 0px 0px;
        background-color: #f6f6f6 !important;
        color: #333;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #eaeaea !important;

}

body, tbody, .MainPageBG, #mp-left, #mp-tfa-h2, #mp-tfa, #mp-dyk-h2, #mp-dyk, #mp-right, #mp-itn-h2, mp-itn, #mp-otd-h2, #mp-otd, #mp-tfp, #mp-tfp-h2, #mp-other, #mp-sister, #mp-lang, #jump-to-nav, #mp-strapline, #mp-banner, #mp-upper {
background-image: none !important;
background-color: inherit!important;
color: #333 !important;
border: none !important;
}

#mp-left, #mp-right {
margin-top: 80px;
background-image: none !important;
background-color: inherit!important;
color: #333 !important;
border: none !important;
}

h1, h2, h3 #mp-tfp-h2, .mw-headline{
font-family: HelveticaNeue-Bold, Helvetica !important;
color: #333 !important;
border-bottom: 1px solid #eee !important;
background-color: inherit!important; 
font-weight: bold !important; 
padding-top: none !important;
}


#globalWrapper {
position: absolute;
left: 0px;
top: 0px;
font: 16px HelveticaNeue, Helvetica, sans-serif !important;
z-index: 50;
border: none;
margin: none !important;
padding: none !important;
}

th, tr, td, .thumbinner {
background-color: #f6f6f6 !important;
color: #333 !important;
border: none !important;
padding: 5px !important;
margin: 5px !important;
border-collapse: inherit !important;
}

.MainPageBG, .MainPageBG tbody, .MainPageBG table, .MainPageBG td, .MainPageBG tr, .MainPageBG th {
background-color: #fff !important;
color: #333 !important;
border: none !important;
}
#toc, .toc, #content, #mp-tfp, .MainPageBG {
border: none;
background-color: #fff !important;
}

#content {
margin: 0px !important;
padding: 15px !important;
top: 0px !important;
position: absolute !important;
}

#mp-left {
-moz-border-radius: 7px !important;
-webkit-border-radius: 7px !important;
border-radius: 7px;
}

span, div {
border: none !important;
background-color: inherit !important;
color: #333 !important;
padding: none !important;
margin: none !important;
}

#column-one {
padding: 0px !important;
margin: 0px !important;
}

.toctext, a:link, a:visited, a:active
{
	text-decoration: none;
	/*color: #00a7d2 !important; */
	color: #0892D0 !important;
	font-weight: normal;
}
a:hover {
	color: #333!important;
}
a:active {
	color: #000 !important;
}

.metadata {
border: none !important;
padding-bottom: 5px !important;
}
.toccolours, .navbox-abovebelow {
        margin: 0px;
        background-color: #f6f6f6 !important;
        color: #333;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #eaeaea !important;

}

.navbox-group {
        margin: 0px;
        background-color: #f6f6f6 !important;
        color: #333;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #eaeaea !important;

}

#toc, .nowraplinks, .collapsible, .autocollapse, #catlinks, .printfooter, .ambox, .ambox-content, .infobox, .geography, .vcard, .thumb, .tright, .mbox-text {
        margin: 10px !important;
        background-color: #f6f6f6 !important;
        color: #333;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #eaeaea !important;
}

.printfooter {
padding-top: 10px !important;
}

body {
font-style: HelveticaNeue, sans-serif !important;
background-color: #fff !important;
}

.mergedrow, .floatnone, #searchBody {
border: none !important;
text-align: left !important;
}

h5#p-search {
display: inline;
}


/* GERMAN */
#artikelstadium {
postition: absolute !important;
left: 30px !important;
top: 60px !important;
background-color: none !important;
width: 15px;
display: inline !important;
}
