.COM {
	COLOR: gray; FONT: 8pt arial, helvetica, san-serif
}
.DATE {
	COLOR: maroon; FONT: 10pt helvetica, arial, san-serif
}
.UPTEXT {
	COLOR: fuchsia; FONT: 8pt helvetica, arial, san-serif
}
P {
	COLOR: darkblue; FONT: 10pt helvetica, arial, san-sarif
}
TD {
	COLOR: darkblue; FONT: 10pt helvetica, arial, san-sarif
}
H1 {
	COLOR: darkblue; FONT-FAMILY: Helvetica,sans-serif
}
H2 {
	COLOR: darkblue; FONT-FAMILY: Helvetica,sans-serif
}
H6 {
	COLOR: darkblue; FONT-FAMILY: Helvetica,sans-serif
}
H3 {
	COLOR: darkgreen; FONT-FAMILY: Helvetica,sans-serif
}
