P, TD, H1, H2, H3, H4, .black, .pgp, DL, DT, DD
{ FONT-Family: Verdana,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; background-color: #606060; color: white }
H1
{ FONT-SIZE: 11px; FONT-Weight: bold;}
H2
{ font-size: 11px; font-weight: normal}
P, TD, .black, DL, DT, DD, LI
{ font-size: 11px;}
H4, H3, H4
{ FONT-SIZE: 20px;}
PRE
{ font-family: "Lucida Console", "Letter Gothic MT", "Courier New", Courier, monospace; font-size: 11px;  color: white; background-color: #606060 }

