body {
  font-family : Palatino, Georgia, "Times New Roman", Times, serif;
  color : black;
  background-color : #8dc63f;
  margin : 0;
  padding : 0;
}

.ahem, a.dhtmlaunch:link, a.dhtmlaunch:visited, a.dhtmlaunch:active, a.dhtmlaunch:hover, a.dhtmlaunch2:link, a.dhtmlaunch2:visited, a.dhtmlaunch2:active, a.dhtmlaunch2:hover {
 display : none;
}

div.brokeass {
  color : red;
}

hr {
  margin-left : auto;
  margin-right : auto;
  text-align : center;
  }

a.copyright:link {
  color : #fff;
  cursor : default;
  background-color : #8dc63f;
}
a.copyright:visited {
  color : #fff;
  cursor : default;
  background-color : #8dc63f;
}
a.copyright:active {
  color : #fff;
  cursor : default;
  background-color : #8dc63f;
}
a.copyright:hover {
  color : #fff;
  cursor : default;
  border : none;
  background-color : #8dc63f;
}

.navpadding {
  line-height : 16px; }

select{
  font-family : Palatino, Palatino, Georgia, "Times New Roman", Times, serif;
  font-size : 14px;
  background-color : #000;
  color : #fff;
  border : 2px solid #aaaaaa;
  button-base-color : #0089bf;
  button-arrow-color : white;
  z-index : 4;
}

#themedrop {
  font-family : Palatino, Georgia, "Times New Roman", Times, serif;
  border : none
  z-index : 4;
  position : absolute;
  top : 40px;
  left : 0px;
  widht : 100%
  text-align : right;
  display : none;
  }

.logo {
  display : none;
  height : 22px;
  width : 81px;
  position : absolute;
  left : 10px;
  top : 10px;
  border : 0;
}

div#navigation {
  background-color : #197b30;
  color : #fff;
  padding : 0;
  margin : 0;
  position : absolute;
  width : 100%;
  top : 24px;
  left : 0px;
  text-align : center;
  font-variant : small-caps;
}

div#main {
  background-color : #fff;
  border: none;
  color : #000000;
  width : 100%;
  position : absolute;
  padding : 0;
  margin : 0;
  top : 100px;
  left : 0px;
  text-align : left;
  z-index : 2;
}

div#pagetitle {
	font-family : Palatino, Georgia, "Times New Roman", Times, serif;
	font-variant : small-caps;
	font-size : 20px;
	width : 100%;
	background-color : #000;
	color : #fff;
	padding : 0px;
	position : absolute;
	top :0px;
	left : 0px;
	z-index : 2;
	text-align : center;
}

#spybox{
  width : 80%;
  border : 0 0 0 0;
  outline : none;
  color : white;
  background-color : #ffffff;
  text-align : center;
  position : relative;
  margin-left : auto;
  margin-right : auto;
}


img.scaled {
  width : 100px;
  border : 0;
  display : inline;
  margin : 6px;
}

.broke {
  color : red;
  font-size : 14px;
  background-color : white;
  font-family : Palatino, Georgia, "Times New Roman", Times, serif;
  border-top : 1px dotted black;
  border-bottom : 1px dotted black;
}

a:link {
  color : #0089bf;
  font-size : 14px;
  font-family : Palatino, Georgia, "Times New Roman", Times, serif;
  text-decoration : none;
  background-color : white;
}

a:visited {
  color : #0089bf;
  text-decoration : none;
  background-color : white;
}

a:active {
  color : #222222;
  background-color : white;
  text-decoration : none;
}

a:hover {
  color : #0089bf;
  text-decoration : none;
  border-top : none;
  border-right : none;
  border-left : none;
  border-bottom : 2px dotted black;
  background-color : #fff;
  font-size : 14px;
}

pre {
  font-family : "Lucida Console", "Letter Gothic MT", "Courier New", Courier, monospace;
  font-size : 20px;
  color : black;
  background-color : #ffffff;
	padding : 2%;
	text-align : center;
}

.tinypre {
  font-family : "Lucida Console", "Letter Gothin MT", "Courier New", Courier, monospace;
  font-size : 1px;
  color : black;
  }

p , td, li, ul {
  font-family : Palatino, Georgia, "Times New Roman", Times, serif;
  font-size : 14px;
  line-height : 24px;
  padding : 4%;
}

option {
  font-family : Palatino, Georgia, "Times New Roman", Times, serif;
  font-size : 14px;
  background-color : #8dc63f;
  color : #fff;
  }

optgroup {
  font-family : Palatino, Georgia, "Times New Roman", Times, serif;
  font-size : 14px;
  font-weight : bold;
  background-color : #8dc63f;
  color : white;
  }
h1 {
  font-family : Palatino, Georgia, "Times New Roman", Times, serif;
  font-size : 12px;
  font-weight : bold;
  color : black;
  margin : 3px;
  line-height : normal;
}

h4 {
  font-family : Palatino, Georgia, "Times New Roman", Times, serif;
  font-size : 14px;
}

strong {
  display : none;
  color : #006699;
  background-color : #fffffa;

}

a.nav:link {
	color : #fff;
	text-decoration : none;
	background-color : #197b30;
	font-size : 14px;
}
a.nav:visited {
	color : #ffffff;
	text-decoration : none;
	background-color : #197b30;
	font-size : 14px;
}
a.nav:active {
  color : #ffffff;
  text-decoration : none;
  background-color : #197b30;
  font-size : 14px;
}
a.nav:hover {
  color : #ffffff;
  text-decoration : none;
  border-top : none;
  border-right : none;
  border-left : none;
  border-bottom : 2px dotted black;
  background-color : #197b30;
  font-size : 14px;


}
a.themeanch:link {
	color : #000000;
	text-decoration : none;
	background-color : #eeeeee;
	font-family : Palatino, Georgia, "Times New Roman", Times, serif;
	font-size : 14px;
	margin-right : 6px;
	line-height : normal;
}
a.themeanch:visited {
	color : #000000;
	text-decoration : none;
	background-color : #0066cc;
	font-family : Palatino, Georgia, "Times New Roman", Times, serif;
	font-size : 14px;
	margin-right : 6px;
	line-height : normal;
}
a.themeanch:active {
  color : #000000;
  text-decoration : none;
  background-color : #0066cc;
  margin-right : 6px;
}
a.themeanch:hover {
  color : #ff0000;
  text-decoration : none;
  vertical-align : bottom;
  background-color : #0066cc;
  margin-right : 6px;
}

.links_page {
  line-height : 15px;
  height : 400;
  overflow : scroll;
}